<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="Debug" type="F0.Tests.Diagnostics.DebugTraceListener, F0.Analyzers.Tests" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
